.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

label {
  font-weight: bold;
  margin-right: 0.5rem;
  margin-top: 10px;
}

select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
